
.amarante-regular {
  font-family: "Amarante", serif;

}


body {
  font-family: "Amarante", serif;
    background: #ffeef2 url('background-pattern.png');
    color: #555;
    margin: 0;
    padding: 0;
  }
  
  span{
    color: #fcafe8;
  }

  .container {
    width: 90%;
    margin: auto;
    border: 3px solid pink;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background: #ffe4e6;
    text-align: center;
    padding: 20px;
  }
  
  
  
  .sidebar {
    float: left;
    width: 30%;
    background: #ffe4e6;
    padding: 10px;

  }
  
  .love-message {
  
    text-align: center;
    border: 2px dotted pink;
    margin-bottom: 20px;
  }
  
  .love-message img {
    max-width: 100px;
    border-radius: 0%;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    text-align: center;
    margin: 20px 0px;
  }
  
  .links a {
    text-decoration: underline;
    color: #555;
    font-weight: bold;
  }
  
  .content {
    float: right;
    width: 75%;
    padding: 20px;
    background: #fff;
  }
  
  .footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background: #ffe4e6;
    font-size: 0.8em;
  }
  